version: '2'
services:
  web:
    image: odoo:13.0
    container_name: "odoo_web"
    restart: always
    environment:
      - HOST=172.31.89.218
      - USER={{ db_user }}
      - PASSWORD={{ db_pass }}
      - PORT=5432
    volumes:
      - web-data:/var/lib/odoo
    networks:
      - odoo-network
    ports:
      - "8069:8069"
networks:
  odoo-network:

volumes:
  web-data:
