version: '2'
services:
  web:
    image: odoo:13.0
    container_name: "odoo_web"
    restart: always
    environment:
      - HOST=db
      - USER={{ db_user }}
      - PASSWORD={{ db_pass }}
      - PORT=5432
    volumes:
      - web-data:/var/lib/odoo
    networks:
      - odoo-network
    ports:
      - "8069:8069"
networks:
  odoo-network:

  db:
    image: postgres:10
    container_name: odoo_db
    environment:
      - POSTGRES_DB=postgres
      - POSTGRES_PASSWORD={{ db_pass }}
      - POSTGRES_USER={{ db_user }}
      - PGDATA=/var/lib/postgresql/data/pgdata
    volumes:
      - db-data:/var/lib/postgresql/data/pgdata
    networks:
      - odoo-network


volumes:
  web-data:
  db-data:
